

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-color:black !important;
}
.heading{
  text-transform: capitalize;text-align: center;
  border-radius: 50px;
  background:lawngreen;
  font-family: 'Abril Fatface', cursive;
  padding-top: 5px; 
  width: 400px;
  height: 60px;
  color: blue;  
  margin-top: 10px;
  margin-left: 36%;
}

#input1{
  margin-left: 36%;
  margin-top: 15px;
  border-style: groove;
  border-radius: 20px;
  border-color: brown;
  padding-left: 10px;
}
#sub{
  margin-left: 10px !important;
  height: 30px;
  padding-top: 1.5px;
  font-family:cursive;
  
  
}
.ok{
  margin-left: 36%;
  margin-top: 30px;
  font-weight: bolder;
  color: antiquewhite;
}
#result{
  margin-left: 43% !important;
  margin-bottom: 30px;
  
  
}
.start{
    margin-left: 36%;
    margin-top: 20px;
    color: antiquewhite;
}

.btn:focus{
  outline: none !important;
}